<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <title>Title</title>
    <style>
        img {
            margin-right: 10px;
        }

        .main-employee-infos {
            flex-grow: 1;
        }

        .section-salary {
            margin-top: 20px;
        }

        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            border-top: 1px solid black;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: white;
        }

        footer img {
            margin-right: 10px;
        }

        table {
            width: 100%;
        }
        div label{
            font-weight: bolder;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <td>
            <img th:src="${'data:image/jpeg;base64,' + company.getLogo()}" alt="profile picture" width="30"
                 height="24"/>
        </td>
        <td class="main-employee-infos">
            <div style="float: right;">
                <h3>Employee a</h3>
                <div class="d-flex align-items-center mb-3">
                    <label class="me-2 fw-bold">Matriculate number:</label>
                    <span th:text="${employee.matriculate}" class="flex-grow-1 bg-light p-1 rounded"></span>
                </div>
                <!-- Other employee info rows -->
                <div class="d-flex align-items-center mb-3">
                    <label class="me-2 fw-bold">First name:</label>
                    <span th:text="${employee.firstName}" class="flex-grow-1 bg-light p-1 rounded"></span>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <label class="me-2 fw-bold">Last name:</label>
                    <span th:text="${employee.lastName}" class="flex-grow-1 bg-light p-1 rounded"></span>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <label class="me-2 fw-bold">Entry date:</label>
                    <span th:text="${employee.entryDate}" class="flex-grow-1 bg-light p-1 rounded">Unknow</span>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <label class="me-2 fw-bold">Departure date:</label>
                    <span th:text="${employee.getDepartureDate()}"
                          class="flex-grow-1 bg-light p-1 rounded">Unknow</span>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <label class="me-2 fw-bold">Age:</label>
                    <span th:text="${employee.getAge()}" class="flex-grow-1 bg-light p-1 rounded">Unknow</span>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <label class="me-2 fw-bold">Email:</label>
                    <span th:text="${employee.privateMail}" class="flex-grow-1 bg-light p-1 rounded">Unknow</span>
                </div>
            </div>
        </td>
    </tr>
</table>
<section class="section-salary">
    <header>Salary informations</header>
    <div class="d-flex align-items-center mb-3">
        <label class="me-2 fw-bold">Actual Gross salary:</label>
        <span th:text="${employee.salary}" class="flex-grow-1 bg-light p-1 rounded">Unknow</span><span>Ariary/ mois</span>
    </div>
</section>
<footer>
    <table>
        <tr>
            <td>
                <img th:src="${'data:image/jpeg;base64,' + company.getLogo()}" alt="Logo" width="30" height="24"/>
            </td>
            <td>
                <div>
                    <div class="d-flex align-items-center mb-3">
                        <label class="me-2 fw-bold">Company:</label>
                        <span th:text="${company.name}"></span>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <label class="me-2 fw-bold">Nif:</label>
                        <span th:text="${company.nif}"></span>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <label class="me-2 fw-bold">Stat:</label>
                        <span th:text="${company.stat}"></span>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <div class="d-flex align-items-center mb-3">
                        <label class="me-2 fw-bold">Address:</label>
                        <span th:text="${company.address}"></span>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <label class="me-2 fw-bold">Phone numbers:</label>
                        <span th:text="${company.telephones}"></span>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <label class="me-2 fw-bold">Email:</label>
                        <span th:text="${company.emailContact}"></span>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</footer>
</body>
</html>